/venv
python_codes/yolo11n/predict/input1.jpg
python_codes/yolo11n/predict/input2.jpg
python_codes/yolo11n/predict/input3.jpg
python_codes/yolo11n/predict/input4.jpg
python_codes/yolo11n/predict/input5.jpg
python_codes/yolo11n/predict/input6.jpg
python_codes/yolo11n/predict/input7.jpg
python_codes/yolo11n/predict/input8.jpg
python_codes/yolo11n/predict/input9.jpg
python_codes/yolo11n/predict/input10.jpg
python_codes/yolov3u/predict/input1.jpg
python_codes/yolov3u/predict/input2.jpg
python_codes/yolov3u/predict/input3.jpg
python_codes/yolov3u/predict/input4.jpg
python_codes/yolov3u/predict/input5.jpg
python_codes/yolov3u/predict/input6.jpg
python_codes/yolov3u/predict/input7.jpg
python_codes/yolov3u/predict/input8.jpg
python_codes/yolov3u/predict/input9.jpg
python_codes/yolov3u/predict/input10.jpg
python_codes/yolov8n/predict/input1.jpg
python_codes/yolov8n/predict/input2.jpg
python_codes/yolov8n/predict/input3.jpg
python_codes/yolov8n/predict/input4.jpg
python_codes/yolov8n/predict/input5.jpg
python_codes/yolov8n/predict/input6.jpg
python_codes/yolov8n/predict/input7.jpg
python_codes/yolov8n/predict/input8.jpg
python_codes/yolov8n/predict/input9.jpg
python_codes/yolov8n/predict/input10.jpg
python_codes/yolo11n.pt
python_codes/yolov3u.pt
python_codes/yolov8n.pt
